The main page should show a list of orders for the current day. The oldest order at the top.

The order information should be: (Only show pending orders. Not Refunded or completed ones.)
	Customer Details (Name, Email, Phone, Address)
	Payment Method
	Transaction ID
	Total Amounts
	Customer Notes (Example: Please add lettuce to sandwich)
	
	Line Items( Product ID, Name, Quantity)
	Date Created/Time Created

Each order should have a way of changing the order status from pending to completed.